@font-face {
  font-family: 'StarJedi';
  src: url('./assets/Starjedi.ttf');
}

.App {
  text-align: center;
  padding: 50px;
}
.Header {
  color: #000000;
  font-size: 60px;
  font-family: 'StarJedi';
  font-weight: 900;
}
/* write your parent styles in here for your App.js */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
}